.article {
  margin-bottom: 40px;

  .article__wrapper {
    display: flex;
    align-items: center;
  }

  .article__image {
    width: 50%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-gray;
    border: 0 solid rgba(0,0,0,0.5);
    border-width: 8px 0;
    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      display: table;
      width: 100%;
      padding-bottom: 70%;
    }
  }

  .article__content {
    width: 60%;
    padding: 50px;
    margin-left: -10%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(000, 000, 000, 0.85);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    color: $light;

    .article__tag {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      font-size: 16px;
      letter-spacing: 0.5px;
      display: inline-block;
      position: relative;
      padding-left: 15px;
      font-weight: 500;
      background:$dark-brand;
      color: $white;
      padding:4px 8px;
      border-radius: 4px;
      margin: 2px;
      &:hover {
        color: $brand-color;
        background-color: $light;
      }
    }

    .article__title {
      margin: 20px 0;
      font-size: 30px;
      
      a {
        color: $white;
        &:hover {
          color: $brand-color;
        }
      }
    }

    .article__excerpt {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .article__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $light;
    }

    .article__footer {
      display: flex;
      align-items: center;

      .read-more {
        margin-left: auto;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        color: $white;
        border-color: $brand-color;
        &:hover {
          color: lighten($brand-color, 10);
          border-color: $dark;
        }
      }
    }
  }

  .article-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .article__wrapper {
      flex-direction: column;
    }

    .article__image {
      width: 100%;
    }

    .article__content {
      width: 90%;
      padding: 20px;
      margin: -10% 0 0 0;
    }

    .article-without-image {
      width: 90%;
      margin: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    .article__content {

      .article__title {
        font-size: 27px;
      }
    }
  }
}