
<hr/>
<div class="container">
      <div class="author-bio"">
        <div class="author-bio__content">
          <h2 class="author-bio__name">👋 Hello, hello!</h2>
          <p>I'm Marcelo Paiva. I manage research and design teams during the day, but the real learning happens in the evening, when I host UX meetups, present at conferences worldwide, and give back to the UX community by empowering product designers about the joy of knowledge sharing and team collaboration.</p>

          <p>My expertise is in building cross-functional teams to successfully architect, build, maintain, and scale Design Systems, while advocating for accessibility and fostering inclusive design practices.</p>

          <a href="{{ site.baseurl }}/about/">Learn more about my career path.</a>
        </div>
      </div>
  </div>
  <hr/>
  