*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea {
		border: 1px solid $border-color;
		outline: none;
		&:focus:required:invalid {
			border-color: #e02f40;
		}
		&:required:valid {
			border-color: #34a74e;
		}
	}
}

::placeholder {
	color: #666;
}

*::selection {
  color: $white;
  background-color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: initial;
  letter-spacing: -0.5px;
}

h1 {
  font-size: $font-size-h1;
  color: $dark;
}

h2 {
  font-size: $font-size-h2;
  color: $dark;
}

h3 {
  font-size: $font-size-h3;
  font-family: $base-font-family;
  color: $dark-gray;
  padding-top: 32px;
  font-weight: 400;
}

h4 {
  font-size: $font-size-h4;
  font-family: $base-font-family;
  color: $gray;
  font-weight: 700;
}

h5 {
  font-size: $font-size-h5;
  font-family: $base-font-family;
  color: $gray;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  font-family: $base-font-family;
  margin: 30px -100px;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: -0.5px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: $dark;
  background-color: transparentize($brand-color, 0.92);
  padding: 32px 24px;
  border-radius: 16px;

  span {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: transparentize($brand-color, 0.25);
    font-size: 80%;
    margin-top: 12px;
    padding-right: 24px;
  }
  
  @media only screen and (max-width: $tablet) {
    margin: 30px 0;
    font-size: 24px;
    line-height: 38px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img,
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $gray;
  }
}

a {
    text-decoration: none;
    color: $link-color;
    transition: $global-transition;
    &:hover {
      color: $link-color-hover;
    }
    &:active {
      color: $link-color-hover;
    }
}

hr {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 60px auto;
  background: $brand-color;

    &:before{
      content: "";
      width: 10px;
      height: 10px;
      background: $brand-color;
      display: inline-block;
      border: 2px solid $brand-color;
      position: absolute;
      top: -5px;
      left: 42%;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    }
}

p.caption {
  display: block;
  color: $dark;
  background: $light-gray;
  font-style: normal;
  padding: 16px;
  margin: -40px 0 32px 0;
  line-height: 140%;
  font-size: 90%;

  &::before {
    content: "Caption: "
  }
}